doctype html 
html
    head 
        style
            include style.css
        title Alex Lee
    body
        section#top 
            div#menu
            div#heading
                div#logo
                    h1 actuallyReallyAlex
                div#tagline
                    h2 June 1st, 2023
                div#audio
                    audio(autoplay="true", controls="true", loop="true", src="https://github.com/actuallyCodeAlex/file-hoster/blob/main/001.mp3?raw=true") 
